users#edit <br></br>


<h2>Update positions on your profile:</h2>

<%= form_for current_user do |f| %>
  <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name) %>
  <%= f.submit "Update Position(s)" %>
<% end %>
